
#d2
{
    color: gray;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#d3{
    background-color: rgb(118, 66, 78);
    color: white;
    border: 2px solid rgb(118, 66, 78);
    font-size: 20px;
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 10px 3px 10px 3px rgb(118, 66, 78);
}
#d3:hover{
    background-color: goldenrod;
    cursor: pointer;
    color: rgb(118, 66, 78);
}
#d1,#d2,#d3{
    margin-left: 200px;
}
#d4{
    /*margin-left: 500px;*/
    margin-left: 100px;
    margin-top: 110px;
    height: 500px;
    width:500px ;

}
/*#d4:hover{
    height: 200px;
    border-radius: 50px;
    width: 200px;
}*/
.dv{
  display: table;
}
.first{
    float: left;
}
#d1 { 
    color: rgb(118, 66, 78);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-top: 200px;
    overflow: hidden; 
    position: relative; 
} 

#d1 { 
    white-space: nowrap; 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
    animation:  
typing 2s steps(22, end) forwards, blink 1s infinite; 
} 

@keyframes typing { 
    0% { 
        width: 0% 
    } 

    100% { 
        width: 75% 
    } 
} 

@keyframes blink { 

    0%, 
    100% { 
        border-right: 2px solid transparent; 
    } 

    50% { 
        border-right: 2px solid #222; 
    } 
} 
